# Environment variables
.env
.env.local
.env.*.local

# Deno
.deno/

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Build outputs
dist/
build/

# Node
node_modules/
package-lock.json
*.tgz
